<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include template/header.ejs %>

<h3>About Me</h3>
<p>Hello My name is Morgan AKA Morganizer</p>

</body>
</html>