<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include template/header.ejs %>


<form action = "/crudemongo" method = "post">
    <br>
    First Name: <input type = "text" name = "first_name" value="<%= first_name%>">  <br>
    Last Name: <input type = "text" name = "last_name" value="<%= last_name%>"><br>
    <input type = "submit" value = "Submit">
</form>


</body>
</html>
